.chat-screen {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 800px;
	background: #3e3e3e;
	// background: #f2f7ff;
	background-image: url('@/assets/images/chatBackground.png');
	background-size: cover;
	border-radius: 10px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 31px 20px;
	background: #323232;
	border-radius: 10px 10px 0 0;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 19px;
	margin-right: 10px;
	background-size: cover;
}
.username {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 18px;
	line-height: 14px;
	letter-spacing: 0%;
	color: #ffffff;
	padding-bottom: 2px;
}

.status {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
}

.messages {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 11px 10px;
	overflow: auto;
	scrollbar-width: none;
	overflow-y: scroll;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #323232;
	border-radius: 0 0 10px 10px;
	margin-top: auto;
}

.message-input {
	padding: 20px;
	width: 100%;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	color: #ffffff;

	&::placeholder {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 14px;
		line-height: 100%;
		color: #ffffff;
	}
}

.send-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 20px;
}
