@import './chatScreen.scss';
@import './incomeMessage.scss';
@import './mainPage.scss';
@import './sendImageModal.scss';

* {
	max-width: 1920px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button {
	border: none;
	outline: none;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

button {
	cursor: pointer;
}
